body {
    font-size: 14px;
    color: white;
    background: #0000ff url(https://wallpaperbro.com/img/30622.jpg);
}
/* This is a comment, by the way */

h1 {
    font-size: 3em;
    margin: 20px;
    padding: 40px;
    color: white;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.3em;
    padding: 0;
}

table {
    border-collapse: collapse;
    text-align: center;

}
thead{
    font-weight: bold;


}
tbody, td, th {
    font-family: arial, helvetica, serif;
    text-align: center;
    border: 1px solid black;
}

a{
    color: white;
}

.login_banner{
    text-align: right;
}