<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AskMate</title>
    <link rel="stylesheet" href="../static/style.css" />
</head>
<body>
    <h1>Question with id {{ question_id }}</h1>
    <br>
    <h2>Question</h2>
    <table>
        <thead>
            <tr>
                {% for head_element in question[0].keys() %}
                    <td>{{ head_element.title().replace('_', ' ') }}</td>
                {% endfor %}
                <td>Vote</td>
            </tr>
        </thead>
        <tbody>
            {% for record in question %}
                <tr>
                    {% for head, element in record.items() %}
                        <td>
                            {% if head == 'id' %}
                                <a href="/question/{{ element }}">{{ element }}</a>
                            {% elif head == 'image' %}
                                {% if element == None %}
                                    <img src="https://png.pngtree.com/svg/20170616/question_mark_333663.png" width="50" height="50" alt="default icon">
                                {% else %}
                                    <a href="/picture/{{ element }}"><img src="{{ element }}" width="50" height="50" alt="icon"></a>
                                {% endif %}
                            {% else %}
                                {{ element }}
                            {% endif %}
                        </td>
                    {% endfor %}
                    <td>
                        <form action="/question/{{ question_id }}/vote-up">
                            <button  type="submit">Up</button>
                        </form>
                        <form action="/question/{{ question_id }}/vote-down">
                            <button  type="submit">Down</button>
                        </form>

                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>
        <h3><a href="/question/{{ question_id }}/edit">Edit question</a>
        <a href="/question/{{ question_id }}/delete">Delete question</a></h3>

    </p>
    <h2>Answers</h2>
    <table>
        <thead>
            <tr>
                {% for head_element in answers[0].keys() %}
                    <td>{{ head_element.title().replace('_', ' ') }}</td>
                {% endfor %}
                <td>Vote</td>
            </tr>
        </thead>
        <tbody>
            {% for record in answers %}
                <tr>
                    {% for head, element in record.items() %}
                        <td>
                            {% if head == 'id' %}
                                <a href="/question/{{ element }}">{{ element }}</a>
                            {% elif head == 'image' %}
                                {% if element == 'None' %}
                                    <img src="https://png.pngtree.com/svg/20170616/question_mark_333663.png" width="50" height="50" alt="default icon">
                                {% else %}
                                    <a href="/picture/{{ element }}"><img src="{{ element }}" width="50" height="50" alt="icon"></a>
                                {% endif %}
                            {% else %}
                                {{ element }}
                            {% endif %}
                        </td>
                    {% endfor %}
                    <td>
                        <form action="/answer/{{ record.id }}/vote-up">
                            <button  type="submit">Up</button>
                        </form>
                        <form action="/answer/{{ record.id }}/vote-down">
                            <button  type="submit">Down</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>
        <h3><a href="/question/{{ question_id }}/new-answer">Add answer</a>
        <a href="{{ url_for('index') }}">Back to main page</a></h3>
    </p>
</body>
</html>

