<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AskMate</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <h1>Answer with id {{ answer_id }}</h1>
    <br>
    <h2>Answer</h2>
    <table>
        <thead>
            <tr>
                {% for head_element in answer[0].keys() %}
                    <td>{{ head_element.title().replace('_', ' ') }}</td>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for record in answer %}
                <tr>
                    {% for head, element in record.items() %}
                        <td>
                            {% if head == 'id' %}
                                <a href="/question/{{ element }}">{{ element }}</a>
                            {% elif head == 'image' %}
                                {% if element == None %}
                                    <a href="/picture/https://tinyurl.com/yxltjf98">
                                        <img src="https://tinyurl.com/yxltjf98" width="50" height="50" alt="default icon"></a>
                                {% else %}
                                    <a href="/picture/{{ element }}"><img src="{{ element }}" width="50" height="50" alt="icon"></a>
                                {% endif %}
                            {% else %}
                                {{ element }}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>
        <h3><a href="/answer/{{ answer_id }}/edit">Edit answer</a>
        <h3><a href="/answer/{{ answer_id }}/delete">Delete answer</a></h3>
    </p>
    <h2>Comments</h2>
    <table>
        <thead>
            <tr>
                {% for head_element in comments[0].keys() %}
                    <td>{{ head_element.title().replace('_', ' ') }}</td>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for record in comments %}
                <tr>
                    {% for head, element in record.items() %}
                        <td>
                                {{ element }}
                        </td>
                    {% endfor %}
                        <td>
                            <a href="/comments/{{ record.id }}/edit">Edit</a>
                        </td>
                        <td>
                            <a href="/comments/{{ record.id }}/delete">Delete</a>
                        </td>

                </tr>
            {% endfor %}

        </tbody>
    </table>
    <p>
        <h3><a href="/answer/{{ answer_id }}/new-comment">Add comment</a>
        <h3><a href="/question/{{ question_id }}">Back to question {{ question_id }}</a></h3>
    </p>
</body>
</html>

