<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AskMate</title>
    <link rel="stylesheet" href="../static/style.css" />
</head>
<body>
    <h1>AskMate mk2</h1>
    <br>
    <p>
    <h2><a href="/list">List all question</a></h2>
    </p>
    <table>
        <tbody>
            {% for record in answers %}
                <tr>
                    {% for element in record.values() %}
                        <td>{{ element }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>

