<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AskMate</title>
    <link rel="stylesheet" href="../static/style.css" />
</head>
<body>
    <h1>AskMate mk2</h1>
    <br>
    <table>
        <thead>
            <tr>
                {% for head_element in questions[0].keys() %}
                    <td>{{ head_element.title().replace('_', ' ') }}</td>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for record in questions %}
                <tr>
                    {% for head, element in record.items() %}
                        <td>
                            {% if head == 'id' %}
                                <a href="/question/{{ element }}">{{ element }}</a>
                            {% elif head == 'image' %}
                                {% if element == 'None' %}
                                    <img src="https://png.pngtree.com/svg/20170616/question_mark_333663.png" width="50" height="50" alt="default icon">
                                {% else %}
                                    <a href="/picture/{{ element }}"><img src="{{ element }}" width="50" height="50" alt="icon"></a>
                                {% endif %}
                            {% else %}
                                {{ element }}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>
        <p><a href="{{ url_for('list_all') }}">List all questions</a></p>
        <p><a href="{{ url_for('add_question') }}">Add new question</a></p>
        <p><a href="/debug-url">Debug link</a></p>
    </h2>
</body>
</html>

