<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AskMate</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <h3 class="login_banner">{{ login_status_message }}<br>
        <form action="{{ 'login' if 'not logged' in login_status_message else 'logout'}}">
            <button>
                {{ 'Login' if 'not logged' in login_status_message else 'Logout'}}
            </button>
        </form>
        <a href="/register">{{"Create new account" if 'not logged' in login_status_message else ''}}<a/>
    </h3>
    <h1>AskMate mk3</h1>
    <br>
    <form action="/search">
        <input type="text" name="search">
        <button type="submit">Search</button>
    </form><br>
    <table>
        <thead>
            <tr>
                {% for head_element in questions[0].keys() %}
                    <td>{{ head_element.title().replace('_', ' ').replace('Users Id', 'User') }}</td>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for record in questions %}
                <tr>
                    {% for head, element in record.items() %}
                        <td>
                            {% if head == 'id' %}
                                <a href="/question/{{ element }}">{{ element }}</a>
                            {% elif head == 'image' %}
                                {% if element == 'None' %}
                                    <a href="/picture/https://tinyurl.com/yxltjf98">
                                        <img src="https://tinyurl.com/yxltjf98" width="50" height="50" alt="default icon"></a>
                                {% else %}
                                    <a href="/picture/{{ element }}"><img src="{{ element }}" width="50" height="50" alt="icon"></a>
                                {% endif %}
                            {% elif head == 'users_id' %}
                                <a href="/user-activity/{{ user_names[element] }}">{{ user_names[element] }}</a>
                            {% else %}
                                {{ element }}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>
        <p><a href="{{ url_for('add_question') }}">Add new question</a></p>
        <p><a href="{{ url_for('list_all') }}">List all questions</a></p>
        <p><a href="/user-activity/{{ user_name }}">List all my activities</a></p>
    </h2>
</body>
</html>

