<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AskMate</title>
</head>
<body>
    <h1>AskMate</h1>
    <br>
    <p>
    <a href="/question">Add new question</a>
    </p>
    <table>
        <thead>
            <tr>
            {% for item in table_head %}
                <th>{{item.title().replace('_',' ')}}</th>
            {% endfor %}
            </tr>
        <thead>
        <tbody>
        {% for index, value in user_stories.items() %}
            <tr>
            {% for item in table_head %}
                <td align="center">
                    {% autoescape false %}
                        {% if item == table_head[0] %}
                            <a href="/question/{{index}}" >{{value[item]}}</a>
                        {% elif item == table_head[1] %}
                            {{ value[item] | ctime }}
                        {% else %}
                            {{value[item]}}
                        {% endif %}
                    {% endautoescape %}
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>

