<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new answer</title>
</head>
<body>
    <h1>Add new answer</h1>
    <form method="post">
        <p>
            <font size="4" >{{table_head[4].capitalize().replace('_',' ')}}<br></font>
            <input type="text" name={{table_head[4]}} minlength="5" required>
        </p>
        <p>
            <font size="4">{{table_head[5].capitalize().replace('_',' ')}}<br></font>
            <textarea name={{table_head[5]}} rows="4" cols="40" minlength="10" required></textarea>
        </p>
        <button type="submit">Add new question</button>
    </form>
    <p>
        <a href="/question/{{story_id}}/">Back to question</a>
    </p>
    <p>
        <a href="/">Main menu</a>
    </p>
</body>
</html>