<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new answer</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <h1>Add new answer</h1>
    <form method="post">
        <p>
            <font>{{table_head[4].capitalize().replace('_',' ')}}<br></font>
            <textarea cols="40" rows="10" type="text" name={{table_head[4]}} minlength="5" required></textarea>
        </p>
        <p>
            <font>{{table_head[5].capitalize().replace('_',' ')}}<br></font>
            <input type="textarea" name={{table_head[5]}} minlength="5">
        </p>
        <button type="submit">Add new answer</button>
    </form>
    <p>
        <a href="/question/{{question_id}}">Back to question</a>
    </p>
    <p>
        <a href="/">Main menu</a>
    </p>
</body>
</html>