<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit question</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <h1>Edit question</h1>
    <form method="post">
        <p>
            <font >{{table_head[4].capitalize().replace('_',' ')}}<br></font>
            <input type="text" name={{table_head[4]}} value='{{question[0][table_head[4]] if question[0][table_head[4]] != None}}' required>
        </p>
        <p>
            <font>{{table_head[5].capitalize().replace('_',' ')}}<br></font>
            <textarea  cols="40" rows="10" name={{table_head[5]}} required>{{question[0][table_head[5]].replace('<br>','\n') if question[0][table_head[5]] != None}}</textarea>
        </p>
        <p>
            <font>{{table_head[6].capitalize().replace('_',' ')}}<br></font>
            <textarea  cols="40" rows="3" name={{table_head[6]}} required>{{question[0][table_head[6]].replace('<br>','\n') if question[0][table_head[6]] != None}}</textarea>
        </p>
        <button type="submit">Update question</button>
    </form>
    <p>
        <a href="/question/{{question_id}}">Back to question</a>
    </p>
    <p>
        <a href="/">Main page</a>
    </p>
</body>
</html>